main{
    background-color: #f8f9fa;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    
}
.category-container {
    width: 1200px;
    margin: auto;
    
}
.category-container>header{
    background-color: brown;
    height: 80px;
}
.category-container>.main{
    display: flex;
    min-height: 460px;
    margin-top: 5px;
    
}
.category-container>.main>#cottrai{
    background-color: #f8f9fa;
    width: 20%;
    border-radius: 5px;
}
.category-container>.main>#cotphai{
    background-color: #fff;
    width: 80%;

}
.category-container>footer{
    background-color: #fff;
    height: 50px;
    padding-top: 1px;
    margin-top: 5px;
}

#cotphai{
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #f0f2f3;
}

/* cot trai */


#accordion>.cap  { 
     padding: 8px 10px;
     
    font-weight: bold; text-transform: uppercase; 
    cursor: pointer; 
    color: #212529;
    font-size: 18px;
    padding-left: 33px;
    margin-bottom: 15px;
    margin-top: 10px;
}
#accordion > .ct > label {
    margin: 8px 0 8px 30px;
    font-size: 18px; 
    display: block; 
    cursor: pointer; 
}
#accordion > .ct input { width: 16px; height: 16px; margin-right: 10px;}

/* cot phai */
.all-list{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}

#list-sp{
    display: grid;
        grid-template-columns: 33.3% 33.3%  33.3% ;
}
.laptop{
    /* width: 200px;
            height: 300px;
            padding: 15px; */
            cursor: pointer;
            padding: 10px;
            /* text-align: center; */
            border: 3px solid transparent;
            border-radius: 10px;
  transition: border-color 0.3s;
}
.laptop img{
    width: 100%;
    position: relative;
    bottom: 10px;
}
.laptop:hover{
    /* box-shadow: 3px 3px 3px 3px #ddd; */
    border-color:#cfd2d7;
}
.tensp{
    /* width: 200px;
    height:100px;    */
    width: 300px; /* Đặt chiều rộng của khung */
    height: 74px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* Số dòng tối đa */
    /* position:  relative;
    left: 30px;
    bottom: 30px; */

    
}
.mota_sanpham{            
    list-style-type: none;
    font-size: 20px;
    color: #48515b;
    width: 300px;
    height: 170px ;
    
}
.mota_sanpham b:hover{
    color: rgb(29, 99, 178);
    transition: color 0.3s;
}
.gMoi{
    font-size: 23px;
    background-color: #cb1c22;
    border: 15px;
    border-color:#cb1c22 ;
    border-radius: 15px;
    padding: 3px 10px 3px 10px;
}
.gCu{
    margin-left: 40px;
}

.order-container {
    padding-top: 10px;
  }
  
  .order-button {
    background-color: #e55055; /* Màu nền */
    color: white; /* Màu chữ */
    padding: 10px 50px; /* Kích thước nút */
    font-size: 16px;
    border: none; /* Loại bỏ đường viền */
    border-radius: 4px; /* Bo tròn góc */
    cursor: pointer;
    transition: background-color 0.3s; /* Hiệu ứng chuyển động cho màu nền khi di chuột vào */
  }
  
  .order-button:hover {
    background-color: #cb1c22; /* Màu nền khi di chuột vào */
  }
  .compare-button{
    background-color: #99a2aa; /* Màu nền */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Kích thước nút */
    font-size: 16px;
    border: none; /* Loại bỏ đường viền */
    border-radius: 4px; /* Bo tròn góc */
    cursor: pointer;
    transition: background-color 0.3s; /* Hiệu ứng chuyển động cho màu nền khi di chuột vào */
  }
  .compare-button:hover {
    background-color: #72797f; /* Màu nền khi di chuột vào */
  }
        
.Hienthisolapduocchon{
    background-color: #99a2aa;
    border-radius: 5px;
    height: 100px;
}         
        /* footer */
footer{
    margin:0px;
}

/* maycainut */
.top-list{
    display: flex;
    
}
.top-list>span{
    padding-right: 10px;
    margin-top: 10px;
}
.filter-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
  }

  
  .filter-btn:hover {
    background-color: #939CA3;
  }

  
  .filter-btn:active {
    background-color: #ad2525;
  }