* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header
{
    background-color: greenyellow;
    text-align: center;

}
/*-------------nav----------*/
.container{
    max-width: 1200px;
    margin: auto;
}
nav {
    background-color: white;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li a {
    color: black;font-size: 20px;
   
}
nav ul li:nth-child(2) a
{
    color:rgb(220, 111, 111) ;
    font-size: 20px;
}
nav ul li:nth-child(2) i{
    color:rgb(220, 111, 111) ;
    font-size: 20px;
    margin-left: 6px;
}
nav ul li:nth-child(3) 
{
    position: relative;
}
nav ul li:nth-child(3) input{
    height: 30px;
    width: 100%;
    border-radius: 5px ;
    border: 1px solid black;
    padding-left: 6px;
    outline: none;
}
nav ul li:nth-child(3) i{
    position: absolute;
    font-size: 15px;
   right: 12px;
   line-height: 30px;
   cursor: pointer;
}
nav ul li:nth-child(4) button
{
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3 ease;
}
nav ul li:nth-child(4) button i 
{
    margin-right: 6px;
}
nav ul li:nth-child(4) button:hover
{
    background-color: rgb(220, 111, 111);
}
nav ul li:nth-child(5)
{
    text-align: center;

}
nav ul li:nth-child(5):hover a
{
    color:rgb(220, 111, 111) ;

}
nav ul li:nth-child(6):hover a
{
    color:rgb(220, 111, 111) ;

}
nav ul li:nth-child(7):hover a
{
    color:rgb(220, 111, 111) ;

}
nav ul li:nth-child(8):hover a
{
    color:rgb(220, 111, 111) ;

}
/*-------------menu-bar------------*/
.menu-bar {
    background-color: darkgray;
    padding: 12px 0;
}
.menu-bar ul {
    display: flex;
    justify-content: space-between;
   
}
.menu-bar ul li a {
    color:  white;
    font-size: 14px;
}
.menu-bar ul li a i {
    margin-right: 6px;
    font-size: 16px;
}
.menu-bar > ul > li {
    padding: 15px 6px;
    transition: all 0,3 ease;
}
.menu-bar ul li:hover a {

    color:  red;
}
/*-------------adress------------*/
.adress-form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    z-index: 10;

}
.adress-form-content {
    width: 500px;
    height: 550px;
    background-color: white;
    border-radius: 5px;
}
.adress-form-content form {
    padding: 0 40px;

}
.adress-form-content h2{                                                        
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid black;
    position: relative;
}
.adress-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid black;
    right: 12px;
    cursor: pointer;
    top:  50%;
    transform: translateY(-50%);
    list-style: 30px;
    border-radius: 5px;
    
}


.adress-form-content form input, select {
    height: 40px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
}
.adress-form-content form button {
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: chocolate;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
}
/*-------------------submenu----------------*/
.menu-bar-content ul li {
    position: relative;
}
.submenu {
    position: absolute;
    background-color: rgb(213, 212, 212);
    width: 300px;
    height: auto ;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
    z-index: 10;
}
.submenu ul {
    display: flex;
    flex-direction: column;
    
}
.submenu ul li {
    padding: 6px;
    

}
.submenu ul li a{
    color: black;
}
.menu-bar-content ul li:hover .submenu {
    display: block;
}
.submenu ul li:hover  a{
    color: white;
}
.submenu ul li:hover {
    background: red;
}
/*-------------------slider----------------*/
li{
    list-style: none;
}
.slider{
    padding: 20px 0;
    height: 350px;
}
.slider-content{
    display: flex;
    justify-content: space-between;
}
.slider-content-left{
    width: 65%;
 

}
.slider-content-left-top
{
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 10px;
    
}

    

.slider-content-left-bottom li img
{ 
    width: 390px;
}
.banner1{
    display: flex;
    margin-top: -200px;
}



.slider-content-left-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.slider-content-right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}
.slider-content-right li{
    text-align: center;
    margin-top: 20px;
}
.slider-content-right li img {
    width: 400px;
}
.slider-content-left-top-btn
{
    position: absolute;
    top:50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-content-left-top-btn i 
{
    color: white;
    font-size: 32px;
    height: 50px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
}

/*-------------------slider js 1----------------*/
.slider-content-left-top img {
    position: absolute;
}
.slider-content-left-top a:nth-child(2)  img
{
    transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3)  img
{
    transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4)  img
{
    transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5)  img
{
    transform: translateX(400%);
}
.slider-content-left-top a:nth-child(6)  img
{
    transform: translateX(500%);
}
.slider-content-left-top a:nth-child(7)  img
{
    transform: translateX(600%);
}
.slider-content-left-top a:nth-child(8)  img
{
    transform: translateX(700%);
}
.slider-content-left-top a:nth-child(9)  img
{
    transform: translateX(800%);
}
.slider-content-left-top a:nth-child(10)  img
{
    transform: translateX(900%);
}
.slider-content-left-top a:nth-child(11)  img
{
    transform: translateX(1000%);
}
.slider-content-left-top-container{
    position: relative;
    overflow: hidden;
}
.slider-content-left-top-container:hover i {
    opacity: 1;
}
.slider-content-left-top
{
    transition: all 0.3s ease;
}
/*-------------------banner1----------------*/
.banner-one
{
    background-color: rgb(35, 116, 222);
    text-align: center;
    margin-top: 350px;
}
/*-----------------SLIder products-------------*/
.slider-product-one-content
{
    background-color: orange;
    padding: 12px;
}
.slider-product-one-content-items
{
    display: flex;
    justify-content: space-evenly;
}
.slider-product-one-content-item:hover > img {
    transform: translateY(-20px);
    
}
.slider-product-one-content-item
{
    width: 19%;
    background-color: white;
    padding: 50px 12px 50px;
    border-radius: 5px;
    cursor: pointer;
}
.slider-product-one-content-item >img {
    width: 100%;
    transition: all 0.4s ease;
}
.slider-product-one-content-title {
    background-color:orangered ;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
}
.slider-product-one-content-title h2{
    font-style: italic;
    color: #FED100;
    
}
.slider-product-one-content-item-text{
    padding-top: 20px;

}
.slider-product-one-content-item-text li{
    margin-top: 6px;
}
.slider-product-one-content-item-text li:first-child{
    height: 33px;
    width: 40%;
    background-color: #DE1C05;
    display: inline-block;
    margin-bottom: 20px;  
    line-height: 30px;
    border-radius: 40px;
    align-items: center;
    
}
.slider-product-one-content-item-text li:first-child p{
    color: white;
    font-size: 15px;
    text-align: center;
   
}
.slider-product-one-content-item-text li:nth-child(8) a
{
    text-decoration: line-through;
    color: #333;
    font-size: smaller;
}


.slider-product-one-content-container
{
    position: relative;
    overflow: hidden;
}
.slider-product-one-content-btn
{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-product-one-content-btn i{
    color: black;
    font-size: 32px;
    height: 50px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
}
.slider-product-one-content-container:hover i
{
    opacity: 1;
}
.slider-product-one-content-items-content{
    position: relative;
    height: 630px;
    transition: all 0.3s ease;
}
.slider-product-one-content-items{
    position: absolute;
}
.slider-product-one-content-items:nth-child(2)
{
    transform: translateX(100%);
}
.slider-product-one-content-items:nth-child(3)
{
    transform: translateX(200%);
}


/*------------------------------------------------------------------*/
.slider-product-two-content
{
    background-color: plum;
    padding: 12px;
}
.slider-product-two-content-items
{
    display: flex;
    justify-content: space-evenly;
}
.slider-product-two-content-item:hover > img {
    transform: translateY(-20px);
    
}
.slider-product-two-content-item
{
    width: 19%;
    background-color: white;
    padding: 50px 12px 50px;
    border-radius: 5px;
    cursor: pointer;
}
.slider-product-two-content-item >img {
    width: 100%;
    transition: all 0.4s ease;
}
.slider-product-two-content-title {
    background-color:rgb(141, 49, 141) ;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
}
.slider-product-two-content-title h2{
    font-style: italic;
    color: #FED100;
    font-size: 40px;
    
}
.slider-product-two-content-item-text{
    padding-top: 20px;

}
.slider-product-two-content-item-text li{
    margin-top: 6px;
}
.slider-product-two-content-item-text li:first-child{
    height: 33px;
    width: 40%;
    background-color: #DE1C05;
    display: inline-block;
    margin-bottom: 20px;  
    line-height: 30px;
    border-radius: 40px;
    align-items: center;
    
}
.slider-product-two-content-item-text li:first-child p{
    color: white;
    font-size: 15px;
    text-align: center;
}
.slider-product-two-content-item-text li:nth-child(3) a
{
    text-decoration: line-through;
    color: #333;
    font-size: smaller;
}
.slider-product-two-content-item-text li:nth-child(5) a
{
    font-size: 12px;
}
.slider-product-two-content-item-text li:nth-child(6) a
{
    font-size: 12px;
}
.slider-product-two-content-item-text li:nth-child(5):hover a
{
    color: red;
}
.slider-product-two-content-item-text li:nth-child(6):hover a
{
    color: red;
}
/*------------banner2--------------------*/
.banner2
{
    display: flex;
    
}
.banner2 img 
{
    width: 590px;
    padding: 5px;
    margin: 3px;
    border-radius: 20px;
}
/*------------product-gallery--------------------*/
.product-gallery-one-content-product
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-gallery-one-content-product-item
{
    width: 20%;
    padding: 50px 12px 12px;
    border: 1px solid rgb(195, 195, 195);
    cursor: pointer;
}
.product-gallery-one-content-product-item:hover img
{
    transform: translateY(-20px);
}
.product-gallery-one-content-product-item:hover
{
    box-shadow: 3px 3px 3px  #ddd;
}
.product-gallery-one-content-product-item >img
{
    width: 100%;
    transition: all 0.3s ease;
}
.product-gallery-one-content-product-item-text{
    padding-top: 20px;

}
.product-gallery-one-content-product-item-text li{
    margin-top: 6px;
}
.product-gallery-one-content-product-item-text li:first-child{
    height: 33px;
    width: 40%;
    background-color: #DE1C05;
    display: inline-block;
    margin-bottom: 20px;  
    line-height: 30px;
    border-radius: 40px;
    align-items: center;
    
}
.product-gallery-one-content-product-item-text li:first-child p{
    color: white;
    font-size: 15px;
    text-align: center;
}
.product-gallery-one-content-product-item-text li:nth-child(3) a
{
    text-decoration: line-through;
    color: #333;
    font-size: smaller;
}
.product-gallery-one-content-product-item-text li:nth-child(5) a
{
    font-size: 12px;
}
.product-gallery-one-content-product-item-text li:nth-child(6) a
{
    font-size: 12px;
}
.product-gallery-one-content-product-item-text li:nth-child(5):hover a
{
    color: red;
}
.product-gallery-one-content-product-item-text li:nth-child(6):hover a
{
    color: red;
}
.product-gallery-one{
    margin-top: 30px;
}
.product-gallery-one-content-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-gallery-one-content-title ul li a
{
    color: #333;
}
.product-gallery-one-content-title ul
{
    display: flex;
}
.product-gallery-one-content-title ul li
{
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}
.product-gallery-one-content-title ul li:hover a
{
    color: tomato;
}
.product-gallery-one-content-title li:last-child a
{
    color: blue;
}
/*-----------------------------------------------*/
.product-gallery-two{
    margin-top: 30px;
}
.product-gallery-two-content-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-gallery-two-content-title ul li a
{
    color: #333;
}
.product-gallery-two-content-title ul
{
    display: flex;
}
.product-gallery-two-content-title ul li
{
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}
.product-gallery-two-content-title ul li:hover a
{
    color: tomato;
}
.product-gallery-two-content-title li:last-child  a{
    color: blue;
}
/*----------------------------------*/
.product-gallery-three{
    margin-top: 30px;
}
.product-gallery-three-content-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-gallery-three-content-title ul li a
{
    color: #333;
}
.product-gallery-three-content-title ul
{
    display: flex;
}
.product-gallery-three-content-title ul li
{
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}
.product-gallery-three-content-title ul li:hover a
{
    color: tomato;
}
.product-gallery-three-content-title li:last-child  a{
    color: blue;
}
/*----------------------------------------------*/
footer
{
    width: 100%;
    position: absolute;
  
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 100px;
    font-size: 13px;
    line-height: 20px;
    font-family: sans-serif;
    margin-top: 20px;
}
.row
{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 8px;
}
.col:nth-child(2)
{
    flex-basis: 15%;
}
.logo
{
    
    margin-bottom: 30px;
    
}
.col h3
{
    width: fit-content;
    
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
footer ul li a 
{
    color: white;
    padding: 5px;
}
.col  img{
    width: 20%;
}
form
{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far
{
    font-size: 18px;
    margin-right: 10px;
}

form input
{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
    margin-top: 50px;
}
form button
{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
}
form button .fas
{
    font-size: 16px;
    color: #ccc;

}
.socail-icons .fa-brands
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 50px;
}
.underline
{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span
{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top:0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving
{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
.col:nth-child(4)
{
    padding: 4px;
}
/*----------------------Product---------------------------*/
.product{
    padding:  30px 0;
    
}
.product-top
{
    margin-bottom: 30px;

}
.product-top ul li
{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size:  12px;
    line-height: 3px;
}
.product-content-left
{
    width: 50%;
   
}

.product-content-left-big-img
{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img
{
    width: 100%;

}
.product-content-left-small-img
{
    width: 20%;
}
.product-content-left-small-img img
{
    width: 100%;
    
}
.product-content-right
{
    width: 50%;
    padding-left: 20px;
}
.product-content-right-buy button
{
    height: 50px;
    padding: 0 12px;
    cursor: pointer;
    background: red;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3 ease;
    width: 90%;
    font-size: 20px;
    color: white;
}
.product-content-right-buy
{
    padding-top: 10px;
   
}
.product-content-right-text
{
    padding-top: 10px;
   line-height: 40px;
   font-size: 20px;
}
.product-content-right-text-gif
{
    border-top: 1px solid rgb(224, 223, 223);
    line-height: 30px;
    
}
.product-content-right-text-gif li
{
    padding-top: 10px;
    font-size: 20px;
}
.product-content-right-text-khuyenmai p
{
background-color: rgb(199, 188, 188);
font-size: 20px;
 width: 90%;
 height: 40px;
 text-align: center;
 justify-content: center;
}
.product-content-right-text-khuyenmai
{
    border-top: 1px solid rgb(224, 223, 223);
    line-height: 30px;
    padding-top: 17px;
      
}
.product-content-right-text-khuyenmai li
{
    border: black;
    
}
/*-------------------------------------*/
#tblGenera {
    background-color:#ffffff;
    border-collapse:collapse;
    border-spacing:0px;
    border:1px solid #eeeeee;
    box-sizing:border-box;
    color:#333333;
    font-family:Roboto,sans-serif;
    font-size:13px
    ;line-height:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    min-width:500px;
    width:100%;
}